.row{
    display: flex;
}
.col{
    flex: 1;
    background-color: teal;
    color: white;
    margin: 15px;
    padding: 20px 0;
    font-size: larger;
    
}
.col-2{
    flex: 2;
    background-color: teal;
    color: white;
    margin: 15px;
    padding: 20px 0;
    font-size: larger;
    
}
.col-3{
    flex: 3;
    background-color: teal;
    color: white;
    margin: 15px;
    padding: 20px 0;
    font-size: larger;
    
}